.controllsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
}

.controllsButton {
  line-height: 1;
  border: 0;
  outline: none;
  background-color: white;
  padding: 24px;
  border-radius: 50%;
  font-size: 24px;
}
