.userPic{
  width: 250px;
  height: 250px;
  background-color: #e2e2e2;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}